@model List<Order>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="heading">
        <h3>Orders</h3>
    </div>
    <section class="orders">
        <p><a asp-action="AddData">Add New Order Record</a></p>
        <div class="box-container">
            @foreach (var singleOrder in Model)
            {
                <a asp-action="SingleOrderPage" asp-route-OrderID="@singleOrder.OrderID">
                    <div class="box">

                        <p>Order ID: @singleOrder.OrderID</p>
                        <p>placed on: @singleOrder.DatePlacedOn</p>
                        <p>Contact Number: @singleOrder.DeliveryContact></p>
                        <p>Delivery Address: @singleOrder.DeliveryAddress</p>
                        <p>Payment Method: @singleOrder.PaymentMethod</p>
                        <p>Payment Status: @singleOrder.PaymentStatus</p>

                    </div>
                </a>
            }


        </div>

    </section>
</body>
</html>